[mysqld_safe]
log_error=/var/log/mariadb/error_safe.log

[mariadb]
user=mysql
port=3306
bind-address=0.0.0.0
skip-networking=false

datadir=/var/lib/mariadb
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid
tmpdir=/tmp
basedir=/usr
log-output=FILE

general_log
general_log_file=/var/log/mariadb/general.log

slow_query_log
slow_query_log_file=/var/log/mariadb/general.log
long_query_time=3

general_log
log_error=/var/log/mariadb/error.log
