[mysqld]
pid-file=/run/mariadb/mariadb.pid
skip-networking

[mysqld_safe]
log_error=/var/log/mariadb/error_safe.log

[mariadb]
user=root
port=3306
bind-address=0.0.0.0
skip-networking=false

datadir=/var/lib/mariadb
socket=/var/run/mariadb/maria.sock

log-output=FILE

general_log
general_log_file=/var/log/mariadb/general.log

slow_query_log
slow_query_log_file=/var/log/mariadb/general.log
long_query_time=3

general_log
log_error=/var/log/mariadb/error.log
